body {
    background: linear-gradient(90deg, #eaf28f, #cde8b5, #fff2d5, #f7fadb);
}

h1,
p,
h2 {
    text-align: center;
}

button {
    width: 50px;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
    background: linear-gradient(90deg, #bdffbf, #ffe1d1, #f4b3ff, #bdf5ff);
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 3 columnas iguales */
    gap: 10px;
    /* espacio entre filas y columnas */
    padding: 10px;
    width: 280px;
    background: linear-gradient(90deg, #ffffff, #adecff);
    border: 1px solid rgb(0, 0, 0);

}

.layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.historial {
    width: 300px;
    max-height: 300px;
    border: 1px solid #aaa;
    background: linear-gradient(90deg, #ffffff, #adecff);
}

#textHistorial {
    max-height: 150px;
    overflow-y: auto;
    background: radial-gradient(90deg, #ffffff, #adecff);
}

.ok {
    font-size: 32px;
    color: green;
}

.mal {
    font-size: 26px;
    color: red
}

.cuerpo {
    position: absolute;
    /*centramos todo el cuerpo*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#textHistorial::-webkit-scrollbar {
    width: 12px;
}

#textHistorial::-webkit-scrollbar-track {
    background: #adecff;
    ;
}

#textHistorial::-webkit-scrollbar-thumb {
    background-color: rgb(252, 252, 252);
    border-radius: 20px;
    border: 3px solid #adecff;
}